@model OnlineStore.DataModels.Product

@{
    ViewBag.Title = "Добавить товар";
}

<div class="container">
    <div class="wrapper">
        @using (Html.BeginForm("Create", "Products", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            <h2>Добавить новый товар в каталог</h2>
            @Html.ActionLink("Отмена", "Index", null, new { @class = "simple-link" })

            @Html.ValidationSummary(true, "", new { @class = "" })

            <table class="entity-view-table">
                <tr>
                    <td>
                        Артикул
                    </td>
                    <td>
                        @Html.EditorFor(m => m.SKU, new { htmlAttributes = new { @class = "input-text" } })
                        @Html.ValidationMessageFor(m => m.SKU, "", new { @class = "" })
                    </td>
                </tr>
                <tr>
                    <td>
                        Название
                    </td>
                    <td>
                        @Html.EditorFor(m => m.Name, new { htmlAttributes = new { @class = "input-text" } })
                        @Html.ValidationMessageFor(m => m.Name, "", new { @class = "" })
                    </td>
                </tr>
                <tr>
                    <td>
                        Цвет
                    </td>
                    <td>
                        @Html.DropDownListFor(m => m.ColorId, ViewBag.ListOfColors as SelectList, new { @class = "input-text" })
                        @Html.ValidationMessageFor(m => m.Color, "", new { @class = "" })
                    </td>
                </tr>
                <tr>
                    <td>
                        Короткое описание
                    </td>
                    <td>
                        @Html.EditorFor(m => m.ShortDescription, new { htmlAttributes = new { @class = "input-text" } })
                        @Html.ValidationMessageFor(m => m.ShortDescription, "", new { @class = "" })
                    </td>
                </tr>
                <tr>
                    <td>
                        Описание
                    </td>
                    <td>
                        @Html.TextAreaFor(m => m.Description, new { htmlAttributes = new { @class = "input-text" } })
                        @Html.ValidationMessageFor(m => m.Description, "", new { @class = "" })
                    </td>
                </tr>
                <tr>
                    <td>
                        Цена
                    </td>
                    <td>
                        @Html.EditorFor(m => m.Price, new { htmlAttributes = new { @class = "input-text" } })
                        @Html.ValidationMessageFor(m => m.Price, "", new { @class = "" })
                    </td>
                </tr>
                <tr>
                    <td>
                        Количество на складе
                    </td>
                    <td>
                        @Html.EditorFor(m => m.StockQuantity, new { htmlAttributes = new { @class = "input-text" } })
                        @Html.ValidationMessageFor(m => m.StockQuantity, "", new { @class = "" })
                    </td>
                </tr>
                <tr>
                    <td>
                        Ширина
                    </td>
                    <td>
                        @Html.EditorFor(m => m.Width, new { htmlAttributes = new { @class = "input-text" } })
                        @Html.ValidationMessageFor(m => m.Width, "", new { @class = "" })
                    </td>
                </tr>
                <tr>
                    <td>
                        Длина
                    </td>
                    <td>
                        @Html.EditorFor(m => m.Length, new { htmlAttributes = new { @class = "input-text" } })
                        @Html.ValidationMessageFor(m => m.Length, "", new { @class = "" })
                    </td>
                </tr>
                <tr>
                    <td>
                        Высота
                    </td>
                    <td>
                        @Html.EditorFor(m => m.Hight, new { htmlAttributes = new { @class = "input-text" } })
                        @Html.ValidationMessageFor(m => m.Hight, "", new { @class = "" })
                    </td>
                </tr>
                <tr>
                    <td>
                        Главное изображение
                    </td>
                    <td>
                        <input type="file" name="Image" class="" />
                    </td>
                </tr>
            </table>

            <input type="submit" value="Создать" class="yellow-btn" />
        }
    <br />
</div>
