@model OnlineStore.DataModels.Product

@{
    ViewBag.Title = Model.Name;
}

<div class="container">
    <div class="wrapper">
        @using (Html.BeginForm("Edit", "Products", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            <h2>Обзор товара</h2>
            @Html.ActionLink("Назад", "Index", null, new { @class = "simple-link" })

            @Html.ValidationSummary(true, "", new { @class = "" })

            <table class="entity-view-table">
                <tr>
                    <td>
                        Артикул
                    </td>
                    <td>
                        @Html.DisplayFor(m => m.SKU)
                    </td>
                </tr>
                <tr>
                    <td>
                        Название
                    </td>
                    <td>
                        @Html.DisplayFor(m => m.Name)
                    </td>
                </tr>
                <tr>
                    <td>
                        Цвет
                    </td>
                    <td>
                        @Html.DisplayFor(m => m.Color.Name)
                    </td>
                </tr>
                <tr>
                    <td>
                        Короткое описание
                    </td>
                    <td>
                        @Html.DisplayFor(m => m.ShortDescription)
                    </td>
                </tr>
                <tr>
                    <td>
                        Описание
                    </td>
                    <td>
                        @Html.DisplayFor(m => m.Description)
                    </td>
                </tr>
                <tr>
                    <td>
                        Цена
                    </td>
                    <td>
                        @Html.DisplayFor(m => m.Price)
                    </td>
                </tr>
                <tr>
                    <td>
                        Количество на складе
                    </td>
                    <td>
                        @Html.DisplayFor(m => m.StockQuantity)
                    </td>
                </tr>
                <tr>
                    <td>
                        Ширина
                    </td>
                    <td>
                        @Html.DisplayFor(m => m.Width)
                    </td>
                </tr>
                <tr>
                    <td>
                        Длина
                    </td>
                    <td>
                        @Html.DisplayFor(m => m.Length)
                    </td>
                </tr>
                <tr>
                    <td>
                        Высота
                    </td>
                    <td>
                        @Html.DisplayFor(m => m.Hight)
                    </td>
                </tr>
                <tr>
                    <td>
                        Главное изображение
                    </td>
                    <td>
                        @if (Model.MainImage != null)
                        {
                            @Html.Raw("<img class='big-img' src=\"data:image/jpeg;base64," + Convert.ToBase64String(Model.MainImage) + "\" />")
                        }
                    </td>
                </tr>
            </table>
        }
        <br />
        @using (Html.BeginForm("Delete", "Products", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.Id)
            <input type="submit" value="Удалить" class="yellow-btn" />
        }
    </div>
</div>