@model IEnumerable<OnlineStore.DataModels.Product>

@{
    ViewBag.Title = "Обзор товаров";
}

<div class="container">
    <div class="wrapper">
        <h2>Список всех товаров</h2>
    <a href="@Url.Action("Create", "Products")" class="yellow-link">
        <!-- <img src="~/Content/pen-with-line.png" /> -->
        + Создать
    </a>

        <table>
            <thead>
                <tr>
                    <th>
                        Артикул
                    </th>
                    <th>
                        Название
                    </th>
                    <th>
                        Цвет
                    </th>
                    <th>
                        Короткое описание
                    </th>
                    <th>
                        Изображение
                    </th>
                    <th>
                        Цена
                    </th>
                    <th>
                        Количество
                    </th>
                    <th>
                        Действие
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var e in Model)
                {
                    <tr>
                        <td>
                            <span class="sku">
                                @Html.DisplayFor(m => e.SKU)
                            </span>
                        </td>
                        <td>
                            <a href="@Url.Action("Details", "Products", new { id = e.Id })" class="simple-link">
                                @Html.DisplayFor(m => e.Name)
                            </a>
                        </td>
                        <td>
                            @Html.DisplayFor(m => e.Color.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(m => e.ShortDescription)
                        </td>
                        <td>
                            @if (e.MainImage != null)
                            {
                                @Html.Raw("<img class='little-img' src=\"data:image/jpeg;base64," + Convert.ToBase64String(e.MainImage) + "\" />")
                            }
                        </td>
                        <td>
                            <span class="yellow-border">
                                $@Html.DisplayFor(m => e.Price)
                            </span>
                        </td>
                        <td>
                            <span class="yellow-border">
                                @Html.DisplayFor(m => e.StockQuantity)
                            </span>
                        </td>
                        <td>
                            <a href="@Url.Action("Edit", "Products", new { id = e.Id })" class="simple-link">
                                Изменить
                            </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <br/>
    </div>
</div>