<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/main.css")
</head>
<body>
    <div class="nav-pannel">

        <ul class="nav-subpannel">
            <a href="@Url.Action("Index", "Home")">
                <img src="~/Content/logo.png" height="40" />
            </a>
            <li>
                <a href="@Url.Action("Index", "Home")" class="nav-pannel-link">Каталог</a>
            </li>
            <li>
                <a href="@Url.Action("Categories", "Home")" class="nav-pannel-link">Категории</a>
            </li>
            <li>
                <a href="@Url.Action("Index", "Home")" class="nav-pannel-link">Лучшая цена</a>
            </li>
        </ul>

        <ul class="nav-subpannel">
            <li>
                <a href="@Url.Action("Index", "Home")" class="nav-pannel-link">Поиск</a>
            </li>
            <li>
                <a href="@Url.Action("Index", "Products")" class="nav-pannel-link">Админ-панель</a>
            </li>
                        <li>
                <a href="@Url.Action("LogIn", "Account")" class="nav-pannel-link">Вход</a>
            </li>
        </ul>
    </div>

    <div class="content">
        @RenderBody()
    </div>
    <footer>
        
        &copy; @DateTime.Now.Year - Online Store
        <br/>
        Developed by Neevin Kirill
    </footer>

</body>
</html>
