@model OnlineStore.DataModels.Product

@{
    ViewBag.Title = Model.Name;
}

<div class="container">
    <div class="row">
        <div class="col-left">
            <img src="data:image/jpeg;base64,@Convert.ToBase64String(Model.MainImage)" />
        </div>
        <div class="col-right">
            <div class="infoboard">
                <h2>@Html.DisplayFor(m => m.Name)</h2>
                
                <div class="description">@Html.DisplayFor(m => m.ShortDescription)</div>
                
                <br />
                <div class="price">
                    $@Html.DisplayFor(m => m.Price)
                </div>
                <br />

                Цвет:
                @Html.DisplayFor(m => m.Color.Name)
                <br />

                На складе:
                @Html.DisplayFor(m => m.StockQuantity)
                <br/>

                <a href="#" class="yellow-link">Добавить в корзину</a>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="additioninfo">
            <p>
                Полное описание:
                @Html.DisplayFor(m => m.Description)
            </p>
            <p>
                Артикул:
                <span class="sku">
                    @Html.DisplayFor(m => m.SKU)
                </span>
            </p>
            <p>
                Ширина:
                @Html.DisplayFor(m => m.Width)см
                <br />
                Длина:
                @Html.DisplayFor(m => m.Length)см
                <br />
                Высота:
                @Html.DisplayFor(m => m.Hight)см
            </p>
        </div>
    </div>
</div>